.about-us {
  &__title {
    max-width: 392px;
    margin-top: 0;
    margin-bottom: 10px;

    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
  }
  &__text {
    display: block;
    flex-direction: column;
    max-width: 392px;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
