.container {    
    margin-left: auto;
    margin-right: auto;   
    padding-left: 20px;
    padding-right: 20px; 

    @media screen and (max-width: 767px) {
        max-width: 320px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding-left: 123px;
        padding-right: 123px;
    }
}