.header__container {
    position: relative;
    min-width: 320px;
    padding: 8 20px 0 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 35px 33px 0 33px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding: 35px 20px 0 20px;
    }
}

// burger

.menu-btn__open {
    position: absolute;
    top: 16px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    width: 40px;
    height: 21px;
    transform: translate(-5px, -4px);
    cursor: pointer;

    @media screen and (min-width:768px) {
        top: 32px;
        right: 32px;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.menu-btn__icon {
    width: 30px;
    height: 16px;

    &:hover, 
    &:focus, 
    &:active {
        opacity: 0.12;
    }
}


// navigation
.navigation {
    display: flex;
    align-items: center;
    margin-bottom: 31px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 42px;
    }
}

.logo__link {

    @media screen and (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
        }
}

.header__logo {
        width: 96px;
        height: 44px;

        
        @media screen and (min-width: 768px) {
            height: 47px;
        }
        
        @media screen and (min-width: 1280px) {
            width: 158px;
            height: 82px;
        }
}

.navigation__list {
    display: none;

    @media screen and (min-width: 1280px) {
        display: flex;
        margin-left: 162;
    }
}

.navigation__item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.navigation__link {
    font-size: 18px;
    line-height: 22px;
    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: $color--text__light-beige;
}
    &:active {
        color: $color--program-icon__fill;
}
}

// title & subtitle

.header__title {
    margin-bottom: 8px;

    font-family: "Caveat Brush";
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;

    @media screen and (min-width: 768px) {
        text-align: start;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 16px;

        font-size: 64px;
        line-height: 65px;
    }
}

.header__subtitle {
    margin-bottom: 32px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 28px;
        text-align: start;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 29px;
    }
}

.register__link {
    font-family: 'Caveat Brush';
    font-size: 18px;
    line-height: 23px;
    color: rgb(255, 255, 255);
    display: block;
    width: 145px;
    height: 40px;
    
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 44px;
    
    background-color: $color--button__normal;
    border-radius: 25px;
    border: none;

    &:hover, 
    &:focus {
        padding: 10px 44px 0 44px;
        background-color: $color--button__hover;
    }
    
    &:active {
        padding: 10px 44px 0 44px;
        background-color: $color--program-icon__fill;
    }

        @media screen and (min-width: 768px) {
            margin: 0;
            margin-bottom: 20px;

            &:hover, 
            &:focus {
                padding-top: 8px;
                transform: translateY(-13px);
            }

            &:active {
                padding-top: 8px;
                transform: translateY(-13px);
                background-color: $color--program-icon__fill;
            }
        }
    
        @media screen and (min-width: 1280px) {
            width: 158px;
            height: 45px;
    
            margin-bottom: 32px;
    
            font-size: 24px;
            line-height: 30px;
            
            &:hover,
            &:focus {
                padding-top: 8px;
                transform: translateY(-2px);
            }
            
            &:active {
                padding-top: 8px;
                transform: translateY(-2px);
                background-color: $color--program-icon__fill;
            }
        }
}

// social 

.social__list {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
        justify-content: left;
    }
}

.social__item {
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }
}

.social__link {
    transition: transform 250ms linear;
}

.social__icon {
    width: 16px;
    height: 16px;

    .social__link:hover &,
    .social__link:active &,
    .social__link:focus & {
        transform: scale(1.5);
    }
}
