.modal__backdrop {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 105vh;
  z-index: 10;

  background-color: $color--main__medium-beige;
  backdrop-filter: blur(4px);

  transition: opacity 250ms linear, visibility 250ms linear;

  &.is-open {
    opacity: 1;
    background-color: rgba(254, 243, 228, 0.9);
    pointer-events: all;
    cursor: pointer;
    visibility: visible;
    z-index: 2;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100% - 30px);
  height: 400px;
  padding: 20px;

  background-color: $color--main__medium-beige;
  transform: translate(-50%, -50%) scale(1);
  cursor: default;
  
  transition: transform 250ms linear;

  background: #ffffff;
  box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @include tablet {
    max-width: 450px;
  }

  @include desktop-bg {
    width: 528px;
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: var(--text-color);
  }
}

.modal__text {
  margin: 0;
  font-family: $font--accent;
  font-size: 24px;
  line-height: 1.8;

  text-align: center;

  color: #2e2520;

  @include tablet {
      font-size: 36px;
  }
}
