.program {
  padding-top: 16px;

  @include tablet {
    padding-top: 75px;
  }

  @include desktop-bg {
    padding-top: 65px;
  }
}

.program .container {
  @include tablet {
    display: flex;
  }
}

.program__inner,
.program__badges {
  max-width: 440px;

  @include tablet {
    &:not(:last-of-type) {
      margin-right: 32px;
      max-width: 336px;
    }
  }

  @include desktop-bg {
    &:not(:last-of-type) {
      margin-right: 142px;
      max-width: 392px;
    }

    &:not(:first-of-type) {
      max-width: 500px;
    }
  }
}

.program__badges {
  @media screen and (max-width: 767.98px) {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.program__title--left {
  margin-bottom: 8px;

  @include tablet {
    text-align: left;
  }
}

.program__list {
  margin-top: 8px;

  @include desktop-bg {
    font-size: 18px;
    margin-top: 20px;
  }
}

.program__item:not(:last-child) {
  margin-bottom: 8px;

  @include desktop-bg {
    margin-bottom: 16px;
  }
}

.program__text {
  @include desktop-bg {
    font-size: 18px;
    line-height: 1.22;
  }
}

#more {
  display: none;
  margin-top: 8px;

  @include desktop-bg {
    display: block;
    margin-top: 16px;
  }
}

.btn-read-more {
  font-family: $font--accent;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: $color--main__dark-beige;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 16px;

  @media screen and (max-width: 767px) {
    margin-bottom: 55px;
  }

  @include desktop-bg {
    display: none;
  }
}

.features {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
}

.features__item {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: $color--background__dark;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  @include tablet {
    width: 152px;
    height: 152px;
  }

  @include desktop-bg {
    width: 180px;
    height: 180px;
  }

  &:nth-child(2n) {
    margin-top: -95px;
    margin-left: 150px;
    animation-direction: reverse;

    // @media screen and (min-width: 350px) {
    //   margin-left: auto;
    // }

    @include tablet {
      margin-top: -100px;
      margin-left: 185px;
    }

    @include desktop-bg {
      margin-top: -50px;
      margin-left: 320px;
    }
  }

  &:nth-child(3) {
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }

    @include desktop-bg {
      margin-top: -50px;
    }
  }
}

.features__item::before {
  content: '';
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: -35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    height: 90px;
  }

  @include desktop-bg {
    height: 95px;
  }
}

.features__item:hover::before {
  animation: spin 1200ms ease-in-out both;
}

@keyframes spin {
  0% {
    transform: translateX(0) rotate(90deg);
  }

  50% {
    transform: translateX(50px) rotate(180deg);
  }

  75% {
    transform: translateX(-50px) rotate(270deg);
  }

  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.features__item:nth-child(1)::before {
  background-image: url(../images/donut-1_mob.png);

  @include x2 {
    background-image: url(../images/donut-1@2x_mob.png);
  }

  @include tablet {
    background-image: url(../images/donut-1_tabl.png);

    @include x2 {
      background-image: url(../images/donut-1@2x_tabl.png);
    }
  }

  @include desktop-bg {
    background-image: url(../images/donut-1_desk.png);

    @include x2 {
      background-image: url(../images/donut-1@2x_desk.png);
    }
  }
}

.features__item:nth-child(2)::before {
  background-image: url(../images/donut-2_mob.png);

  @include x2 {
    background-image: url(../images/donut-2@2x_mob.png);
  }

  @include tablet {
    background-image: url(../images/donut-2_tabl.png);

    @include x2 {
      background-image: url(../images/donut-2@2x_tabl.png);
    }
  }

  @include desktop-bg {
    background-image: url(../images/donut-2_desk.png);

    @include x2 {
      background-image: url(../images/donut-2@2x_desk.png);
    }
  }
}

.features__item:nth-child(3)::before {
  background-image: url(../images/donut-3_mob.png);

  @include x2 {
    background-image: url(../images/donut-3@2x_mob.png);
  }

  @include tablet {
    background-image: url(../images/donut-3_tabl.png);

    @include x2 {
      background-image: url(../images/donut-3@2x_tabl.png);
    }
  }

  @include desktop-bg {
    background-image: url(../images/donut-3_desk.png);

    @include x2 {
      background-image: url(../images/donut-3@2x_desk.png);
    }
  }
}

.features__item:nth-child(4)::before {
  background-image: url(../images/donut-4_mob.png);

  @include x2 {
    background-image: url(../images/donut-4@2x_mob.png);
  }

  @include tablet {
    background-image: url(../images/donut-4_tabl.png);

    @include x2 {
      background-image: url(../images/donut-4@2x_tabl.png);
    }
  }

  @include desktop-bg {
    background-image: url(../images/donut-4_desk.png);

    @include x2 {
      background-image: url(../images/donut-4@2x_desk.png);
    }
  }
}

.features__desc {
  font-family: $font--accent;
  font-size: 18px;
  line-height: 1.28;
  white-space: nowrap;
  color: $color--black;
  margin-bottom: 4px;

  @include tablet {
    margin-bottom: 8px;
  }

  @include desktop-bg {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 16px;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.21;
  color: $color--black;
  margin-bottom: 8px;

  @include desktop-bg {
    font-size: 16px;
    line-height: 1.25;
  }
}

.features__icon {
  width: 19px;
  height: 19px;

  @include tablet {
    width: 21px;
    height: 21px;
  }

  @include desktop-bg {
    width: 25px;
    height: 25px;
  }
}
