@import '../sass/util/mybase';
 .section__registration {
     position: relative;
     background-color: $color--main__medium-beige;
  }

.registration-pic { 

    // @media screen and (max-width: 767px) {
        position: absolute; 
        width: 1px; 
        height: 1px; 
        margin: -1px; 
        border: 0; 
        padding: 0; 
        white-space: nowrap; 
        clip-path: inset(100%); 
        clip: rect(0 0 0 0); 
        overflow: hidden; 
    // } 
    
    // @media screen and (min-width: 768px) {
    //     position: absolute;
    // } 
}

.registration {
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;

    background-color: $color--main__light-beige;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;

    // background-color: $color--main__light-beige;
    // box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    // 4px 4px 4px rgba(171, 129, 108, 0.15);
    // border-radius: 150px 0px 0px 150px;
    // // transform: rotate(90deg);

    // @media screen and (min-width: 768px) {
    //     width: 704px;
    //     height: 260px;
    //     border-radius: 150px;
    // }

}

.section__title {
    margin-bottom: 20px;
}

// .registration-thumb {
//     position: absolute; 
//     width: 100%;
//     height: 100%;
//     margin: 0;

    // background-color: $color--main__light-beige;
    // box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    // 4px 4px 4px rgba(171, 129, 108, 0.15);
    // border-radius: 150px 150px 0px 0px;
    // transform: rotate(90deg);

    // @media screen and (min-width: 768px) {
    //     display: flex;
    // justify-content: center;
    // align-items: center;
    //     width: 704px;
    //     height: 260px;
    //     border-radius: 150px;
    // }
    
    // @media screen and (min-width: 1280px) {
    //     width: 822px;
    //     height: 260px; 
    // }


.registration-info {


.registration-info__item:not(:first-child) {
    margin-bottom: 20px;
}
}

.registration-info__date,
.registration-info__place,
.registration-info__price {
    margin: 0;
    
    color: $color--text__default;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
}
 
.registration-form {
    margin-left: 8px;
    margin-right: 8px;
}

.registration-form__text {
        font-size: 16px;
        line-height: 1.25;

        @media screen and (max-width: 767px) {
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
            padding-top: 8px;
            color: $color--text__default;
            border-top: 1px solid rgba(171, 129, 108, 0.5);
        }   
}

.registration-field {
  
}

.registration-field__input {
    width: 99%;
    height: 20px;
  
    background-color: $color--main__light-beige;
    border: transparent;
    border-bottom: 1px solid $color--main__dark-beige;

    &::placeholder {
        color: rgba(171, 129, 108, 0.5);
        font-size: 16px;
        line-height: 1,25;
    }

    &:not(:last-child) {
        margin-bottom: 22px;
    }
}

.registration-field__lable {
    display: block;
}

.button {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
            margin-left: 54px;
            margin-right: 0;
    }
}