.section__registration {
     background-color: $color--main__medium-beige;
}

.registration-pic { 

    // @media screen and (max-width: 767px) {
        position: absolute; 
        width: 1px; 
        height: 1px; 
        margin: -1px; 
        border: 0; 
        padding: 0; 
        white-space: nowrap; 
        clip-path: inset(100%); 
        clip: rect(0 0 0 0); 
        overflow: hidden; 
    
       
    // @media screen and (min-width: 768px) {
    //     position: absolute;
    //     z-index: -1; 
   
    //     &--top {
    //        top: -20%;
    //        left: 0;     
    //     }

    //     &--bottom {
    //         bottom: -55%;
    //         right: -10%;   
    //     }
    // } 
}

.registration { 
    width: 100%;
    height: 100%;
    margin: 0;

    @media screen and (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 32px;

    background-color: $color--main__light-beige;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
    }
}

.section__title {
    margin-bottom: 20px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 16px;
    }
}

.registration-thumb {

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items:center;

        background-color: $color--main__light-beige;
        box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
        4px 4px 4px rgba(171, 129, 108, 0.15);
        border-radius: 150px;
    }
      
    @media screen and (min-width: 1280px) {
            padding-top: 54px;
            padding-bottom: 54px;
            margin-left: 232px;
            margin-right: 232px;
    }
}

.registration-info {

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 90px;
        margin-right: 56px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 32px;
    }
}

.registration-info__item:not(:first-child) {

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.registration-info__item:nth-child(2n) {

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.registration-info__details {
    margin: 0;
    
    color: $color--text__default;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: end;
    }

    @media screen and (min-width: 1280px) {
        font-size: 20px;
    }
}
 
.registration-form {

    @media screen and (max-width: 767px) {
        margin-left: 8px;
        margin-right: 8px;
    }

    @media screen and (min-width: 1280px) {
        position: relative;
        padding-left: 32px;
    }
}

.registration-form::before{

    @media screen and (min-width: 1280px) {
        position: absolute;
        top: 50%;
        left: -20%;
        width: 40%;
        border: 1px solid rgba(171, 129, 108, 0.5);
        content: "";
        transform: rotate(90deg);
    }
}

.registration-form__text {
        font-size: 16px;
        line-height: 1.25;

        @media screen and (max-width: 767px) {
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
            padding-top: 8px;
            color: $color--text__default;
            border-top: 1px solid rgba(171, 129, 108, 0.5);
        }  
        
        @media screen and (min-width: 768px) {
            margin-top: 29px;
            margin-bottom: 16px;
        }

        @media screen and (min-width: 1280px) {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 13px;
        }
}

.registration-field {

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &:not(:last-child){          
            margin-bottom: 16px;
        }
    }
  
}

.registration-field__input {
    width: 99%;
    height: 20px;
  
    background-color: $color--main__light-beige;
    border: transparent;
    border-bottom: 1px solid $color--main__dark-beige;

    &::placeholder {
        color: rgba(171, 129, 108, 0.5);
        font-size: 16px;
        line-height: 1,25;
    }

    &:not(:last-child) {
        margin-bottom: 22px;
    }
    
    @media screen and (min-width: 768px) {
        width: 237px;
        height: 22px;
    }
}

.registration-field__lable {
    display: block;
}

.button {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
            margin-left: 54px;
            margin-right: 0;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 32px;
        margin-right: 0;
}
}