.menu {
  opacity: 0;
  pointer-events: none;
}

.menu.is-open {
  opacity: 1;
  pointer-events: all;
}

.bg {

  outline: 1px solid tomato;
}

.b-t {
  width: 300px;
  height: 1200px;
  display: block;
  border: 1px solid red;
  margin: 0 auto;
}