@import '~node_modules/modern-normalize/modern-normalize.css';
@import './variables';
@import './media-mixin';

@import './container';
@import './button';

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// font-family: 'Caveat Brush', cursive;
// font-family: 'Montserrat', sans-serif;

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif; 
  color: $color--text__default;
  background-color: $color--white;
  @include desktop-bg {background-color: $color--background__light;}
}

body.menu-open {
  @media screen and (max-width: 1279.98px) {
    overflow: hidden;
  }
}

.bg__part1,
.bg__part2 {
  background-repeat: no-repeat;
  background-position: top center;
}

.bg__part1 {  
  background-size: 100% 461px;
  @include x1 {background-image: url("../images/bg/bg1-m@1x-min.png");}
  @include x2 {background-image: url("../images/bg/bg1-m@2x-min.png");}
  
  @include tablet {
    background-size: 100% 622px;
    @include x1 {background-image: url("../images/bg/bg1-t@1x-min.png");}
    @include x2 {background-image: url("../images/bg/bg1-t@2x-min.png");}
  }

  @include desktop-bg {
    background-size: 100% 1035px;
    @include x1 {background-image: url("../images/bg/bg1-d@1x-min.png");}
    @include x2 {background-image: url("../images/bg/bg1-d@2x-min.png");}
  }
}

.bg__part2 {  
  background-size: 100% 1337px;
  @include x1 {background-image: url("../images/bg/bg2-m@1x-min.png");}
  @include x2 {background-image: url("../images/bg/bg2-m@2x-min.png");}
  
  @include tablet {
    background-size: 100% 1519px;
    @include x1 {background-image: url("../images/bg/bg2-t@1x-min.png");}
    @include x2 {background-image: url("../images/bg/bg2-t@2x-min.png");}
  }

  @include desktop-bg {
    background-size: 100% 2073px;
    @include x1 {background-image: url("../images/bg/bg2-d@1x-min.png");}
    @include x2 {background-image: url("../images/bg/bg2-d@2x-min.png");}
  }
}

// reset styles

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}