@import '~node_modules/modern-normalize/modern-normalize.css';
@import './variables';
@import './media-mixin';

@import './backgrounds';
@import './container';
@import './button';

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// font-family: 'Caveat Brush', cursive;
// font-family: 'Montserrat', sans-serif;

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $color--text__default;

  background-color: $color--white;
  @include desktop-bg {
    background-color: $color--background__light;
  }
}

body.menu-open {
  @media screen and (max-width: 1279.98px) {
    overflow: hidden;
  }
}

// reset styles

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
