.section {
  margin: 0;
  padding: 0;

  &__title {
    margin: 0;

    text-align: center;
    font-family: $font--accent;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    color: $color--main__like-black;

    @include desktop-bg {
      font-size: 36px;
      line-height: 1.8;
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 767.98px) {
    max-width: 320px;
  }

  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop-bg {
    width: 1280px;
    padding-left: 123px;
    padding-right: 123px;
  }
}
