// main style dark beige:         #ab816c, rgb(171, 129, 108)
// main style medium beige:       #fef3e4, rgb(254, 243, 228)
// main style light beige:        #fffff9, rgb(255, 255, 249)
// main style text-black;         #2e2520, rgb(46,  37,  32)

$color--main__like-black: #2e2520;
$color--main__darker-beige: #674d40;
$color--main__dark-beige: #ab816c;
$color--main__medium-beige: #fef3e4;
$color--main__light-beige: #fffff9;

$color--black: #000000;
$color--white: #ffffff;

$color--background__dark: #fef3e4;;
$color--background__light: #fffff9;

$color--text__default: #2e2520;
$color--text__light-beige: rgba(171, 129, 108, 0.5); // $color--main__dark-beige + 50% opacity, Used as placeholder in inputs

$color--program-icon__fill: #674d40;
$color--svg-icon__fill: #000000;
$color--star-icon__fill: #674d40;
$color--button__normal: #674d40;

$font--accent: "'Caveat Brush', cursive";

$animation--duration: 200ms;

$breakpoints: (
  'mobile-sm': 320px,
  'mobile-bg': 480px,
  'tablet': 768px,
  'desktop-bg': 1280px,
);