<!-- Contact -->
<section class="contact">
    <div class="container">
        <h3 class="contact__title" id="contact">Contact</h3>
        <p class="contact__text">We will answer any question!</p>
        <form action="№" class="contact__form" aria-labelledby="contact-section">

            <label class="contact__label">                        
                <input class="contact__input" type="email" name="mail" placeholder="Email" required pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"/>                        
            </label>

            <label class="contact__label">                
                <textarea class="contact__textarea" name="comment" placeholder="Type your question"></textarea>
              </label>


            <button type="submit" class="contact__button button">Send</button>

        </form>
    </div>
</section>