      <!-- Contact -->
      <section class="contact__section section" id="contact">
        <div class="container">
          <h2 class="section__title section__title--contact">Contact</h2>
          <div class="contact__form">
            <p class="contact__text">We will answer any question!</p>
            <form action="#">
              <div class="contact__group">
                <input
                  class="contact__input"
                  type="email"
                  name="email"
                  id="contact-mail"
                  placeholder="Email"
                  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                  required
                />
                <span class="contact__border"></span>
                <label for="contact-mail" class="contact__label">Email</label>
              </div>

              <div class="contact__group">
                <input
                  class="contact__input"
                  name="comment"
                  type="text"
                  id="user-question"
                  placeholder="Type your question"
                  required
                  minlength="3"
                />
                <span class="contact__border"></span>
                <label for="user-question" class="contact__label">Type your question</label>
              </div>

              <button type="submit" class="contact__button button">Send</button>
            </form>
          </div>
        </div>
      </section>