<!-- Contact -->
<section class="section" id="contact">
    <div class="container">
      <h2 class="section__title">Contact</h2>
      <div class="contact__form">
        <p class="contact__text">We will answer any question!</p>
        <form action="№" class="contact__form">

          <div class="contact__group">
            <input class="contact__input" type="email" name="email" id="contact-mail" placeholder=" " required />
            <span class="contact__border"></span>
            <label for="contact-mail" class="contact__label">Email</label>
          </div>
  
          <div class="contact__group">
            <input class="contact__input" name="comment" type="text" id="user-question" placeholder=" " required minlength="3" />
            <span class="contact__border"></span>
            <label for="user-question" class="contact__label">Type your question</label>
          </div>
          
          <button type="submit" class="contact__button button">Send</button>
        </form>
      </div>
    </div>
  </section>
  