<footer class="footer">
<div class="container"> 
  <ul class="footer-social"> 
    <li class="footer-social__item">
        <a class="footer-social__link" href="#">
          <svg width="16" height="16" class="footer-social__icon">
            <use href="./images/sprite.svg#social-twitter">
            </use>
          </svg>
        </a>
    </li>
    <li class="footer-social__item">
        <a class="footer-social__link" href="#">
            <svg width="16" height="16" class="footer-social__icon">
                <use href="./images/sprite.svg#social-instagram">
                </use>
              </svg>
        </a>
    </li>
    <li class="footer-social__item">
        <a class="footer-social__link" href="#">
            <svg width="16" height="16" class="footer-social__icon">
                <use href="./images/sprite.svg#social-facebook">
                </use>
              </svg>
        </a>
    </li>
  </ul>
  <ul class="footer-contacts">
    <li>
        <a class="footer-contacts__link" href="#">
          <svg width="16" height="16" class="footer-contacts__icon">
            <use href="./images/sprite.svg#phone">
            </use>
          </svg>
       <div class="footer-contacts__text">(910)222-8855</div>
        </a>
    </li>
    <li>
        <a class="footer-contacts__link" href="#">
          <svg width="16" height="16" class="footer-contacts__icon">
            <use href="./images/sprite.svg#location">
            </use>
          </svg>
         <div class="footer-contacts__text"> New York</div>
        </a>
    </li>
  </ul>
  <div class="footer-image"></div>
</div>
</footer>
