<!-- <!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:wght@400;500&display=swap" />

    <title>Donut Masterclass</title>
    
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    
  </body> -->
<footer>
  <ul class="footer-social"> 
    <li class="footer-social__item">
        <a href="#">
          <svg width="16" height="16" class="footer-social__icon">
            <use href="./images/sprite.svg#social-twitter">
            </use>
          </svg>
        </a>
    </li>
    <li class="footer-social__item">
        <a href="#">
            <svg width="16" height="16" class="footer-social__icon">
                <use href="./images/sprite.svg#social-instagram">
                </use>
              </svg>
        </a>
    </li>
    <li class="footer-social__item">
        <a href="#">
            <svg width="16" height="16" class="footer-social__icon">
                <use href="./images/sprite.svg#social-facebook">
                </use>
              </svg>
        </a>
    </li>
  </ul>
  <ul>
    <li>
        <a href="#">
          <svg width="16" height="16" class="footer-social__icon">
            <use href="./images/sprite.svg#phone">
            </use>
          </svg>
          (910)222-8855
        </a>
    </li>
    <li>
        <a href="#">
          <svg width="16" height="16" class="footer-social__icon">
            <use href="./images/sprite.svg#location">
            </use>
          </svg>
          New York
        </a>
    </li>
  </ul>
</footer>
<!-- 
</body>
</html> -->
