<header class="header">
  <div class="header__container">
    <button class="menu-btn__open" data-menu-open>
      <svg class="menu-btn__icon">
        <use href="./images/sprite.svg#menu"></use>
      </svg>
    </button>
    <navigation class="navigation">
      <a href="index.html" class="logo__link">
        <svg class="header__logo">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>

      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#aboutus" class="navigation__link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="#program" class="navigation__link">Program</a>
        </li>
        <li class="navigation__item">
          <a href="#reviews" class="navigation__link">Reviews</a>
        </li>
        <li class="navigation__item">
          <a href="#contact" class="navigation__link">Contacts</a>
        </li>
      </ul>
    </navigation>
    <h1 class="header__title">Donut Masterclass<br />with the Donut King</h1>
    <p class="header__subtitle">Hosted by Eva Green</p>

    <a href="#registration" class="register__link">Register</a>

    <ul class="social__list">
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon">
            <use href="./images/sprite.svg#social-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon">
            <use href="./images/sprite.svg#social-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon">
            <use href="./images/sprite.svg#social-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
