<header class="header">
  <div class="header__container">
    <button class="menu-btn__open">
      <svg class="menu-btn__icon">
        <use href="#"></use>
      </svg>
    </button>
    <navigation class="navigation">
      <a href="#" class="logo__link">
        <svg class="header__logo">
          <use href="#"></use>
        </svg>
      </a>

      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#" class="navigation__link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Program</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Reviews</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Contacts</a>
        </li>
      </ul>
    </navigation>
    <h1 class="header__title">Donut Masterclass<br />with the Donut King</h1>
    <h2 class="header__subtitle">Hosted by Eva Green</h2>
    <button class="register__btn" type="button">Register</button>

    <ul class="social__list">
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon">
            <use href="#"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon">
            <use href="#"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon">
            <use href="#"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
