<header class="header">
  <div class="header__container">
    <button class="menu-btn__open" data-menu-open>
      <svg class="menu-btn__icon">
        <use href="./images/sprite.svg#menu"></use>
      </svg>
    </button>
    <nav class="navigation">
      <a href="index.html" class="logo__link">
        <svg class="header__logo">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>

      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#aboutus" class="navigation__link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="#program" class="navigation__link">Program</a>
        </li>
        <li class="navigation__item">
          <a href="#reviews" class="navigation__link">Reviews</a>
        </li>
        <li class="navigation__item">
          <a href="#contact" class="navigation__link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
