<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">Donut Masterclass<br />with the Donut King</h1>
    <p class="hero__subtitle">Hosted by Eva Green</p>

    <a href="#registration" class="register__link button">Register</a>

    <ul class="social__list">
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon">
            <use href="./images/sprite.svg#social-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon">
            <use href="./images/sprite.svg#social-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon">
            <use href="./images/sprite.svg#social-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
