<div class="mobile-menu__backdrop">
  <div class="menu__container">
    <svg class="close__btn">
      <use href="#"></use>
    </svg>
    <svg class="menu__logo">
      <use href="#"></use>
    </svg>
    <ul class="menu__list">
      <li class="menu__item"><a href="#" class="menu__link">About us</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Program</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Reviews</a></li>
      <li class="menu__item"><a href="#" class="menu__link">Contacts</a></li>
    </ul>
  </div>
</div>
