<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat:wght@400;500&display=swap"
    />

    <title>Donut Masterclass</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../sass/index.css" />
  </head>
  <body> -->
    <!-- registration-section -->
<section class="section section-registration">
    <div class="container">
       <div class="registration">
        <div class="registration__picture-top"></div>
        <!-- <div class="registration__picture-down"></div> -->
                <h2 class="section__title">Registration</h2>
                
                    <div class="registration-thumb">
                  
                      <ul class="registration-info">
                        <li class="registration-info__item">
                            <p class="registration-info__details">May 23, 11:00</p>
                        </li>
                        <li class="registration-info__item">
                            <p class="registration-info__details">New York</p>
                        </li>
                        <li class="registration-info__item">   
                            <p class="registration-info__details">$ 699</p>
                        </li>
                     </ul>
                     <form class="registration-form">
                          <p class="registration-form__text">Apply your personal info <br>
                            for registration </p>
                        <div class="registration-field">
                            <div class="registration-field__box">
                                <input class="name registration-field__input" name="name" id="name" placeholder="Your name" pattern="^[a-zA-Z]+$"  title="Username must be written in letters." required/>
                                    <label for="name" class="registration-field__lable"></label>
                                <input class="phone registration-field__input" name="phone" id="phone" placeholder="Phone number" pattern="\+?[0-9\s\-\(\)]+" title="Enter numbers, please." required/>
                                    <label for="phone" class="registration-field__lable"></label>
                                <input class="email registration-field__input" name="email" id="email" placeholder="E-mail" pattern="@" title="Looks like exemple@mail.com" required/>
                                    <label for="email" class="registration-field__lable"></label>
                        </div>
                                <button type="submit" class="button button--margin">Register</button>
                        </div>
                     </form>
                    </div>
      </div>
    </div>
</section>
<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="./swiper.js"></script>
<script type="module" src="./index.js"></script>
  </body>
</html> -->