<section class="reviews">
  <div class="reviews__container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="reviews__slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <article class="swiper-slide">
            <div class="reviews__slides-block">
              <div class="reviews__slide">
                <div class="slide__reviewer-images">
                  <div class="slide__side">
                    <picture>
                      <source
                        srcset="
                          ./images/reviews_john_desktop@1x.jpg 1x,
                          ./images/reviews_john_desktop@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="slide__reviewer-image"
                        src="./images/reviews_john_desktop@1x.jpg"
                        srcset="./images/reviews_john_desktop@2x.jpg 2x"
                        alt="John"
                      />
                    </picture>
                    <div class="slide__rating">
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-empty"></use>
                      </svg>
                    </div>
                    <h3 class="slide__reviewer-name">John</h3>
                  </div>
                  <div class="slide__center">
                    <picture>
                      <source
                        srcset="
                          ./images/reviews_will_desktop@1x.jpg 1x,
                          ./images/reviews_will_desktop@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="slide__reviewer-image"
                        src="./images/reviews_will_desktop@1x.jpg"
                        srcset="./images/reviews_will_desktop@2x.jpg 2x"
                        alt="Will"
                      />
                    </picture>
                    <div class="slide__rating">
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                    </div>
                    <h3 class="slide__reviewer-name">Will</h3>
                  </div>
                  <div class="slide__side">
                    <picture>
                      <source
                        srcset="
                          ./images/reviews_elisabeth_desktop@1x.jpg 1x,
                          ./images/reviews_elisabeth_desktop@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="slide__reviewer-image"
                        src="./images/reviews_elisabeth_desktop@1x.jpg"
                        srcset="./images/reviews_elisabeth_desktop@2x.jpg 2x"
                        alt="elisabeth"
                      />
                    </picture>
                    <div class="slide__rating">
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                    </div>
                    <h3 class="slide__reviewer-name">Elisabeth</h3>
                  </div>
                </div>
                <p class="slide__reviewer-text">
                  Last time I have visited a cooking course by Eva I was
                  impressed with the way she explained everything to people. You
                  can be sure you will manage to cook a delicious dish even if
                  it is your first time in the kitchen! Thank you so much for
                  the masterclass! Looking forward to the next one and highly
                  recommend it to everyone!
                </p>
              </div>
            </div>
          </article>
          <article class="swiper-slide">
            <div class="reviews__slides-block">
              <div class="reviews__slide">
                <div class="slide__reviewer-images">
                  <div class="slide__side">
                    <picture>
                      <source
                        srcset="
                          ./images/reviews_will_desktop@1x.jpg 1x,
                          ./images/reviews_will_desktop@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="slide__reviewer-image"
                        src="./images/reviews_will_desktop@1x.jpg"
                        srcset="./images/reviews_will_desktop@2x.jpg 2x"
                        alt="will"
                      />
                    </picture>
                    <div class="slide__rating">
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                    </div>
                    <h3 class="slide__reviewer-name">Will</h3>
                  </div>
                  <div class="slide__center">
                    <picture>
                      <source
                        srcset="
                          ./images/reviews_elisabeth_desktop@1x.jpg 1x,
                          ./images/reviews_elisabeth_desktop@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="slide__reviewer-image"
                        src="./images/reviews_elisabeth_desktop@1x.jpg"
                        srcset="./images/reviews_elisabeth_desktop@2x.jpg 2x"
                        alt="elisabeth"
                      />
                    </picture>
                    <div class="slide__rating">
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                    </div>
                    <h3 class="slide__reviewer-name">Elisabeth</h3>
                  </div>
                  <div class="slide__side">
                    <picture>
                      <source
                        srcset="
                          ./images/reviews_John_desktop@1x.jpg 1x,
                          ./images/reviews_John_desktop@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="slide__reviewer-image"
                        src="./images/reviews_John_desktop@1x.jpg"
                        srcset="./images/reviews_John_desktop@2x.jpg 2x"
                        alt="John"
                      />
                    </picture>
                    <div class="slide__rating">
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-empty"></use>
                      </svg>
                    </div>
                    <h3 class="slide__reviewer-name">John</h3>
                  </div>
                </div>
                <p class="slide__reviewer-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consectetur repudiandae ratione delectus dolorum dolorem aut
                  vel, possimus odit natus culpa quaerat molestias accusantium
                  debitis animi quia fugit quas, blanditiis eum, aliquid
                  temporibus officiis ex provident. At delectus temporibus
                  commodi consequuntur earum veritatis odio vero quaerat?!
                </p>
              </div>
            </div>
          </article>
          <article class="swiper-slide">
            <div class="reviews__slides-block">
              <div class="reviews__slide">
                <div class="slide__reviewer-images">
                  <div class="slide__side">
                    <picture>
                      <source
                        srcset="
                          ./images/reviews_elisabeth_desktop@1x.jpg 1x,
                          ./images/reviews_elisabeth_desktop@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="slide__reviewer-image"
                        src="./images/reviews_elisabeth_desktop@1x.jpg"
                        srcset="./images/reviews_elisabeth_desktop@2x.jpg 2x"
                        alt="elisabeth"
                      />
                    </picture>
                    <div class="slide__rating">
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                    </div>
                    <h3 class="slide__reviewer-name">Elisabeth</h3>
                  </div>
                  <div class="slide__center">
                    <picture>
                      <source
                        srcset="
                          ./images/reviews_john_desktop@1x.jpg 1x,
                          ./images/reviews_john_desktop@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="slide__reviewer-image"
                        src="./images/reviews_john_desktop@1x.jpg"
                        srcset="./images/reviews_john_desktop@2x.jpg 2x"
                        alt="john"
                      />
                    </picture>
                    <div class="slide__rating">
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-empty"></use>
                      </svg>
                    </div>
                    <h3 class="slide__reviewer-name">John</h3>
                  </div>
                  <div class="slide__side">
                    <picture>
                      <source
                        srcset="
                          ./images/reviews_will_desktop@1x.jpg 1x,
                          ./images/reviews_will_desktop@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <img
                        class="slide__reviewer-image"
                        src="./images/reviews_will_desktop@1x.jpg"
                        srcset="./images/reviews_will_desktop@2x.jpg 2x"
                        alt="will"
                      />
                    </picture>
                    <div class="slide__rating">
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                      <svg class="slide__rating-icon" width="24" height="24">
                        <use href="./images/sprite.svg#star-full"></use>
                      </svg>
                    </div>
                    <h3 class="slide__reviewer-name">Will</h3>
                  </div>
                </div>
                <p class="slide__reviewer-text">
                  Natus necessitatibus optio doloribus repellendus sapiente quod
                  amet quas eius magni nemo aliquid distinctio temporibus
                  molestias ea explicabo aspernatur labore iusto, possimus
                  soluta! Optio illum obcaecati ipsum labore iste, eligendi
                  ipsam quis et dolor minima.
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper__controls">
          <button type="button" class="swiper-button-prev">&#8592;</button>
          <div class="swiper-pagination"></div>
          <button type="button" class="swiper-button-next">&#8594;</button>
        </div>
      </div>
    </div>
  </div>
</section>
