<a href="#" class="button" data-menu-open>open</a><br>
<div class="menu" data-menu data-menu-close><a href="#" class="button" data-menu-close>close</a></div>




<!-- #region -->
<!--  Registration -->
<!-- <section class="section">
  <div class="container registration">
    <h2 class="section__title">Registration</h2>
    <form action="#" class="registration__form">
      <div class="event__details">
        <p class="event__time">May 23, 11:00</p>
        <p class="event__location">New York</p>
        <p class="event__price">$ 699</p>
      </div>
      <div class="registration__window">
        <p class="form__title">Apply your personal info for registration</p>
        <div class="form__field"><label class="form__label" for="inputName">Your name</label><input class="form__input" type="text" id="inputName" placeholder="Your name"></div>
        <div class="form__field"><label class="form__label" for="inputPhone">Phone number</label><input class="form__input" type="text" id="inputPhone" placeholder="Phone number"></div>
        <div class="form__field"><label class="form__label" for="inputEmail">Email</label><input class="form__input" type="text" id="inputEmail" placeholder="Email"></div>
      </div>
      <button class="button" type="button">Register</button>
    </form>
    <div class="registration__donut"><img
           srcset="
    		./images/donut@2x_desk.png 514px,
    		./images/donut@2x_tabl.png 440px,
    		./images/donut_desk.png 257px,
    		./images/donut_tabl.png 220px"
           src="./images/donut_desk.png"
           alt="Пончик"
           loading="lazy" /></div>
  </div>
</section> -->

<!-- #endregion -->